<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <form [formGroup]="passwordForm">
        <mat-form-field appearance="fill" class="fullscreen">
            <mat-label>current password</mat-label>
            <input type="password" matInput formControlName="current_password">
        </mat-form-field>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['current_password'].touched && passwordForm.controls['current_password'].errors?.['required']">
            Current Password is required
        </div>
        <mat-form-field appearance="fill" class="fullscreen">
            <mat-label>password</mat-label>
            <input type="password" matInput formControlName="password">
        </mat-form-field>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['required']">
            Password is required
        </div>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['minlength']">
            Password must have at least 6 characters
        </div>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['password'].touched && passwordForm.controls['password'].errors?.['notmatching']">
            Password is the same of Current Password
        </div>
        <mat-form-field appearance="fill" class="fullscreen">
            <mat-label>confirm password</mat-label>
            <input type="password" matInput formControlName="confirm_password">
        </mat-form-field>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['confirm_password'].touched && passwordForm.controls['confirm_password'].errors?.['required']">
            Confirm password is required
        </div>
        <div class="mat-small danger"
            *ngIf="passwordForm.controls['confirm_password'].touched && passwordForm.controls['confirm_password'].errors?.['matching']">
            Confirm Password does not match
        </div>
    </form>
</div>
<div mat-dialog-actions class="space-between">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="changePassword()">Change Password</button>
</div>