<div class="container">
    <div *ngIf="page$ | async as page">
        <mat-card *ngFor="let question of page.data" class="mat-h3">
            <div class="space-between">
                <div>
                    <div class="link" routerLink="/questions/edit/{{question.id}}">{{question.statement}}</div>
                    <div *ngIf="question.answers">Last Answer: {{ question.answers[question.answers.length - 1] }}</div>
                </div>
                <mat-icon class="link" aria-hidden="false" aria-label="Delete" (click)="onDelete(question.id)"
                    matTooltip="Delete the question">delete</mat-icon>
            </div>
        </mat-card>
        <mat-paginator *ngIf="page.data.length > 0" [length]="page.count" [pageSize]="page.size"
            [pageIndex]="page.page - 1" [pageSizeOptions]="[5, 10, 25, 100]" (page)="changePage($event)"
            aria-label="Select page">
        </mat-paginator>
        <div *ngIf="page.data.length === 0" class="mat-h2 no-content">You not made any Questions</div>
    </div>
</div>