<div class="container">
    <mat-card>
        <div class="mat-h2 title">{{question.statement}}</div>
        <div *ngIf="question.answers.length > 0" class="mat-h3">{{question.answers.length}} Answers</div>
        <div *ngFor="let answer of question.answers" class="mat-body box">{{answer.text}}</div>
        <mat-form-field  appearance="fill">
            <mat-label>New Answer</mat-label>
            <textarea rows="10" matInput placeholder="Ex. The correct answer is..." [formControl]="answer" required></textarea>
        </mat-form-field>
        <div class="buttons">
            <button mat-button routerLink="/questions">Back</button>
            <span *ngIf="loading$ | async as isLoading; else notLoading">
                <button mat-button color="primary" disabled="true">
                    <div class="save"><span>Save</span>
                        <mat-spinner diameter=20></mat-spinner>
                    </div>
                </button>
            </span>
            <ng-template #notLoading>
                <button mat-button color="primary" (click)="onSave()">Save</button>
            </ng-template>
            
        </div>
    </mat-card>
</div>