<mat-toolbar color="primary">
   <div class="space-between full-screen">
      <div class="link" routerLink="/">Questions And Answers</div>
      <div class="space-between" *ngIf="user">
         <button mat-button [matMenuTriggerFor]="menu">{{user.name}}</button>
         <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/questions/author/{{user.id}}">My questions</button>
            <button mat-menu-item (click)="changePassword()">Change Password</button>
         </mat-menu>
         <mat-icon *ngIf="user" class="link" aria-hidden="false" aria-label="Logout" (click)="logout()">logout
         </mat-icon>
      </div>
   </div>
</mat-toolbar>
<router-outlet></router-outlet>