<div class="container">
    <mat-card>
        <mat-form-field appearance="fill">
            <mat-label>Question</mat-label>
            <textarea rows="8" matInput placeholder="Ex. What is the most..." [formControl]="statement" required></textarea>
        </mat-form-field>
       <div class="buttons">
            <button mat-button routerLink="/questions">Back</button>
            <span *ngIf="loading$ | async as isLoading; else notLoading">
                <button mat-button color="primary" disabled="true">
                    <div class="save"><span>Save</span>
                        <mat-spinner diameter=20></mat-spinner>
                    </div>
                </button>
            </span>
            <ng-template #notLoading>
                <button mat-button color="primary" (click)="onSave()">Save</button>
            </ng-template>
            
        </div>
    </mat-card>
</div>