<div class="container">
    <div class="right"><button mat-raised-button color="primary" routerLink="/questions/new">Ask Something</button>
    </div>
    <mat-card *ngFor="let question of questions | async" class="mat-h3">
        <div class="space-between">
            <div class="link" routerLink="/questions/{{question.id}}">{{question.statement}}</div>
            <div class="mat-caption">Author: {{ question.user }}</div>
        </div>
        <div *ngIf="question.answer">Best Answer: {{ question.answer }}</div>
    </mat-card>
</div>